/* reset basico */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{

}

header{
    background-color: #000000;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


#logo{
    width: 40px;
}

nav{
    display: flex;
    align-items: center;
    gap: 15px;
    margin: 0 auto;
    
}


#inicio{
    width: 40px;
}
#buscador{
    height: 40px;
    width: 250px;
    border-radius: 50px;
    background-color: #2a2a2a;
    border: none;
    padding: 10px;
    color: #b3b3af;

}


/* lo pongo de una vez para que se vaya a la derecha */
main{
    display: flex;
    background-color: #000000;
}

#biblioteca,#menu-principal,#descarga{
    background-color: #121212;
}


/* esto es de la section bibloiteca, la parte izquierda */
#biblioteca{
    /* border: 2px solid red; */
    width: 22%;
    padding-top: 30px;
    margin-left:5px;
    border-radius: 15px;
}
#biblioteca-h2{
    color: #fefefe;
    font-size: 20px;
}
.biblioteca-card{
    display: flex;
    

}

.biblioteca-img{
    width: 20%;
}
.biblioteca-titulo{
    color: #fefefe;
}
.biblioteca-autor{
    color: #bebebe;
    font-weight: bold;
}

/* seccion del centro, menu-principal */

#menu-principal{
    /* border: 2px solid red; */
    width: 56%;
    
    margin: 0px 10px;
    border-radius: 15px;
}

/* botones como todo, música, podcasts */
.botones-principal{
    margin: 18px 35px;
}
.btn-principal{
    border-radius: 30px;
    padding: 7px 12px;
    color: white;
    background-color: #3c3c43;
    font-weight: 500;
    border: none;
    margin-right: 5px;
    cursor: pointer;
}
.btn-principal:hover{
    background-color: #5c5c66;
    transition: .55s;
}

/* estos son los cuadritos como de playlists recientes en el centro */
.playlists-principal{
    display: flex;
    flex-wrap: wrap;
    margin-left: 35px;
}

/* tarjetita de cada playlist */
.playlist-reciente{
    width: 235px;
    height: 50px;
    display: flex;
    background-color: #37373a;
    align-items: center;
    margin: 9px 4px;
    border-radius: 10px;
    cursor: pointer;

}
.playlist-reciente-img{
    width: 45px;
    height: 100%;
    object-fit:cover;
}
.playlist-reciente-nombre{
    margin-left: 5px;
    color: #fefefe;
    font-weight: 600;
    font-size: 13px;
}
.playlist-reciente:hover{
    background-color: #44454b;
    transition: .6s;
}




/* aside de descargar, es la parte de la derecha */
#descarga{
    width: 22%;
    margin-right: 10px;
    border-radius: 15px;
}
#descarga-img{
    width: 100%;
}
#descarga-titulo{
    color: #fefefe;
}
#descarga-parrafo{
    color: #b0b0b0;
}
#descarga-btn{
    color: #000000;
    background-color: #3be477;
    border-radius: 50px;
    font-size: 16px;
    font-weight: bold;
    width: 300px;
    height: 50px;
}