/* reset basico */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

body{

}

header{
    background-color: #000000;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


#logo{
    width: 40px;
}

nav{
    display: flex;
    align-items: center;
    gap: 15px;
    margin: 0 auto;
    
}


#inicio{
    width: 40px;
}
#buscador{
    height: 40px;
    width: 250px;
    border-radius: 50px;
    background-color: #2a2a2a;
    border: none;
    padding: 10px;
    color: #b3b3af;

}


/* lo pongo de una vez para que se vaya a la derecha */
main{
    display: flex;
    background-color: #000000;
}

#biblioteca,#menu-principal,#descarga{
    background-color: #121212;
}


/* esto es de la section bibloiteca, la parte izquierda */
#biblioteca{
    /* border: 2px solid red; */
    width: 22%;
    padding-top: 30px;
    margin-left:5px;
    border-radius: 15px;
}
#biblioteca-h2{
    color: #fefefe;
    font-size: 20px;
}
.biblioteca-card{
    display: flex;
    

}

.biblioteca-img{
    width: 20%;
}
.biblioteca-titulo{
    color: #fefefe;
}
.biblioteca-autor{
    color: #bebebe;
    font-weight: bold;
}

/* seccion del centro, menu-principal */

#menu-principal{
    /* border: 2px solid red; */
    width: 56%;
    margin: 0px 10px;
    border-radius: 15px;
}








/* aside de descargar, es la parte de la derecha */
#descarga{
    width: 22%;
    margin-right: 10px;
    border-radius: 15px;
}
#descarga-img{
    width: 100%;
}
#descarga-titulo{
    color: #fefefe;
}
#descarga-parrafo{
    color: #b0b0b0;
}
#descarga-btn{
    color: #000000;
    background-color: #3be477;
    border-radius: 50px;
    font-size: 16px;
    font-weight: bold;
    width: 300px;
    height: 50px;
}