/* reset basico */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

header{
    background-color: #000000;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav{
    display: flex;
    align-items: center;
    gap: 15px;
    margin: 0 auto;
    
}

/* lo pongo de una vez para que se vaya a la derecha */
main{
    display: flex;
}

#logo{
    width: 40px;
}
#inicio{
    width: 40px;
}
#buscador{
    height: 40px;
    width: 250px;
    border-radius: 50px;
    background-color: #2a2a2a;
    border: none;
    padding: 10px;
    color: #b3b3af;

}

body{
    background-color: #121212;
}
/* esto es de la section bibloiteca */
#biblioteca{
    border: 2px solid red;
    width: 400px;
    padding-top: 30px;
}
#biblioteca-h2{
    color: #fefefe;
    font-size: 20px;
}
.biblioteca-card{
    display: flex;
    

}

.biblioteca-img{
    width: 20%;
}
.biblioteca-titulo{
    color: #fefefe;
}
.biblioteca-autor{
    color: #bebebe;
    font-weight: bold;
}
/* aside de descargar */
#descarga{
    
}
#descarga-titulo{
    color: #fefefe;
}
#descarga-parrafo{
    color: #b0b0b0;
}
#descarga-btn{
    color: #000000;
    background-color: #3be477;
    border-radius: 50px;
    font-size: 16px;
    font-weight: bold;
    width: 300px;
    height: 50px;
}