/* reset basico */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{

}

header{
    background-color: #000000;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


#logo{
    width: 40px;
}

nav{
    display: flex;
    align-items: center;
    gap: 15px;
    margin: 0 auto;
    
}


#inicio{
    width: 40px;
}
#buscador{
    height: 40px;
    width: 250px;
    border-radius: 50px;
    background-color: #2a2a2a;
    border: none;
    padding: 10px;
    color: #b3b3af;

}


/* lo pongo de una vez para que se vaya a la derecha */
main{
    display: flex;
    background-color: #000000;
    min-height: 100vh;
}

#biblioteca,#menu-principal,#descarga{
    background-color: #121212;
}


/* esto es de la section bibloiteca, la parte izquierda */
#biblioteca{
    /* border: 2px solid red; */
    width: 22%;
    padding-top: 20px;
    padding-left:25px;
    border-radius: 15px;
}
#biblioteca-h2{
    color: #fefefe;
    font-size: 15px;

}


/* Parte de botones, tanto de biblioteca como del menu principal */
.biblioteca-botones{
    margin:15px 0px;
}
.biblioteca-boton,.boton-principal{
    border-radius: 30px;
    padding: 7px 12px;
    color: white;
    background-color: #2a2a2a;
    font-weight: 500;
    border: none;
    margin-right: 5px;
    cursor: pointer;
    
}
.biblioteca-boton:hover, .boton-principal:hover{
    background-color: #5c5c66;
    transition: .55s;
}



.biblioteca-card{
    display: flex;
    width: 400px;
    height: 75px;

}
.biblioteca-card:hover{
    background-color: #1f1f1f;
}

.biblioteca-img{
    width: 50px;
    height: 50px;
    align-items: center;
    object-fit: cover;
    border-radius: 7px;
    margin-top: 10px;
    margin-left: 3px;
}
.biblioteca-datos{
    width: 350px;
    margin-left:15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.biblioteca-titulo{
    color: #fefefe;
    font-size: 15px;
    font-weight: 500;
}
.biblioteca-autor{
    color: #bebebe;
    font-size: 13px;
}

/* seccion del centro, menu-principal */

#menu-principal{
    /* border: 2px solid red; */
    width: 56%;
    
    margin: 0px 10px;
    border-radius: 15px;
}

/* margin de botones principales del centro */
.botones-principal{
    margin: 18px 35px;
}


/* estos son los cuadritos como de playlists recientes en el centro */
.playlists-principal{
    display: flex;
    flex-wrap: wrap;
    margin-left: 35px;
}

/* tarjetita de cada playlist */
.playlist-reciente{
    width: 235px;
    height: 50px;
    display: flex;
    background-color: #2f2f32;
    align-items: center;
    margin: 9px 4px 0px 4px;
    border-radius: 4px;
    cursor: pointer;
    /* NOTAA: CON OVERFLOW HIDDEN SE ARREGLA DE QUE SE VE FEOO */
    overflow: hidden;

}
.playlist-reciente-img{
    width: 45px;
    height: 100%;
    object-fit:cover;
}
.playlist-reciente-nombre{
    margin-left: 5px;
    color: #fefefe;
    font-weight: 600;
    font-size: 13px;
}
.playlist-reciente:hover{
    background-color: #1f1f1f;
    transition: .6s;
}

/* hecho para, parte de abajo de las playlist principales Y PARTE DE ESTACIONES */

.hecho-principal,.estaciones-principal{
    /* border: 2px solid red; */
    margin: 30px 35px;

}
/* contenedor del texto */
.hecho-texto,.estaciones-texto{
    margin-right: 55px;
}

#hecho-para, #estaciones-desc{
    color: #a3a3a3;
    font-size: 12px;
    font-weight: 300;
}
#hecho-nombre,#estaciones-recomendadas{
    color: #FEFEFE;
    font-size: 22px;
    font-weight: 600;
}

/* parte de hecho que va a la der | PARTE DE ESTACIONES DE MOSTRAR TODO*/
#hecho-mostrar,#estaciones-mostrar{
    color:#a3a3a3;
    text-align: end;
    font-weight: 700;
    font-size: 13px;
}
#hecho-mostrar span, #estaciones-mostrar span{
    cursor: pointer;

}
#hecho-mostrar span:hover, #estaciones-mostrar span:hover{
    text-decoration: underline;
}



/* tarjetitas de cada playlist de hecho para ti  Y DE ESTACIONES*/
.hecho-playlists, .estaciones-tarjetas{
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;

}

.hecho-playlist, .estacion-tarjeta{
    /* border: 2px solid red; */
    width: 200px;
    height: 250px;
    margin: 10px 25px 0px 0px;
    border-radius: 10px;
    cursor: pointer;

}
.hecho-playlist:hover, .estacion-tarjeta:hover{
    background-color: #202020;
}
.hecho-img, .estacion-img{
    width: 95%;
    padding: 10px 0px 0px 10px;
    object-fit: cover;
    border-radius: 25px;

}
.hecho-texto, .estacion-texto{
    padding-left:15px;
    color: #a3a3a3;
    font-size: 12px;
    font-weight: 600;
}








/* aside de descargar, es la parte de la derecha */
#descarga{
    width: 22%;
    margin-right: 10px;
    border-radius: 15px;
}
#descarga-img{
    width: 100%;
}
#descarga-titulo{
    color: #fefefe;
}
#descarga-parrafo{
    color: #b0b0b0;
}
#descarga-btn{
    color: #000000;
    background-color: #3be477;
    border-radius: 50px;
    font-size: 16px;
    font-weight: bold;
    width: 300px;
    height: 50px;
}